/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px){

    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.nav > li > a {
		padding: 10px 10px;
		font-size: 16px;
	}

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	#home {
		height: auto;
		padding-bottom: 15px;
	}
	.home-text p{
		padding-left: 25px;
	}
	.home-content img{
		float: left;
		padding: 8px;
	}
	.home-content h3{
		font-size: 20px;
	}
	.home-btn btn{
		text-align: center;
	}
	.home-btn .btn-blue, .home-btn .btn-trans {
		line-height: 25px;
		color: #FFF;
		width: 130px;
		font-size: 16px;
		margin-right: 15px;
		margin-bottom: 2px;
	}
	.carousel-indicators li, .carousel-indicators li.active {
		width: 35px;
	}
	.carousel-indicators {
		left: 55%;

	}
	.sub-form input[type="email"] {
        width: 100%;
		float: none;
		text-align: center;


	}
	.sub-form button {
		font-size: 23px;
		padding: 11px 35px;
		margin: 5px auto;
		width:60%;
		height: 58px;
		text-align: center;


	}
	.sub-form{
		text-align: center;
	}
	.social-icon i {
		font-size: 25px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #435361;
		line-height: 50px;

	}

	footer p {

		padding: 30px 0;
		letter-spacing: 2px;
		font-size: 20px;
	}

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}